{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Instrucciones ( Parte 2 de 4 )
{% endblock %}

{% block content %}

<p align="justify">
    <FONT SIZE=4>
 El experimento cuenta con dos rondas. En cada ronda deberá seguir los siguientes pasos: </FONT> </p>
    <FONT SIZE=4>
<ul>
  <li>Lance el dado 12 veces y marque el resultado obtenido en la casilla correspondiente al número de lanzamiento.</li>
  <li>Para poder continuar con la siguiente sección tendrá que marcar todos los resultados.</li>
  <li>Tras presionar continuar responderá un breve cuestionario.</li>
</ul>
</FONT>
<p align="justify">   <FONT SIZE=4>
Los resultados que reporten son completamente anónimos. Tus lanzamientos de dados no pueden ser observados por otros participantes ni por el experimentador. Por lo tanto, no es posible durante el experimento, ni cuando los pagos se cobren, ni en retrospectiva determinar cuánto realmente obtuviste en los dados.
</FONT>
</p>
 <p align="justify">  <FONT SIZE=4>  Recuerde que serán dos rondas, por lo que los pasos listados anteriormente serán realizados 2 veces.
Si tiene alguna duda, antes de continuar, levante la mano y nos acercaremos a su sitio a resolver su pregunta.
</FONT>
 </p>

    {% next_button %}
{% endblock %}

