{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Instrucciones ( Parte 4 de 4 )
{% endblock %}

{% block content %}

<p align="justify"> <FONT SIZE=4>
Finalmente, los demás participantes han recibido las mismas instrucciones que usted y también se les ha pedido que lancen el dado doce veces. Para todos, un resultado al azar será seleccionado para ser pagado en efectivo. El pago de ambas rondas se realizará al final del experimento.
</FONT>
</p>
<p align="justify"><FONT SIZE=4>
Una vez hayan terminado de leer las instrucciones; si no tienen preguntas; presionen el botón de continuar. Si tienen preguntas levanten la mano. Nosotros nos acercaremos a su ubicación y responderemos sus preguntas. El experimento comenzará cuando todos hayan presionado siguiente.
</FONT>
</p>


    {% next_button %}
{% endblock %}