{% load otree_tags staticfiles %}

<div class="instructions well well-lg"></div>

    <h3 class="panel-sub-heading">
        Instrucciones <font color="black">
    </h3>
    <p>
       En esta parte del experimento vas a participar en {{ Constants.num_rounds }} rondas de la misma interacción.
       Antes de la primera ronda, serás emparejado con otro participante y <strong>se mantendrá este emparejamiento en todas
       las rondas</strong>.
       El emparejamiento se realizará al azar y de forma anónima. Es decir, tendrás una contraparte pero no sabrás
       quién es ni durante ni después del experimento. Tu identidad tampoco será revelada a tu contraparte.

    </p>

    </p>

    <h4 class="panel-sub-heading">
        Decisiones de los participantes
    </h4>

    <p>
        Al inicio de cada ronda, cada participante recibirá una cantidad aleatoria entre 5,00 soles y 20,00 soles como dotación inicial,
        tendrá conocimiento de la dotación del otro jugador, y deberá decidir cuánto enviar de la cantidad que ha
        recibido a su contraparte.

    </p>

    <h4 class="panel-sub-heading">
        Pagos
    </h4>
        Una página de resultados de la ronda mostrará el resultado de las decisiones de cada par. El pago en cada
        ronda será igual a tu dotación menos lo que enviaste a tu pareja más lo que tu pareja te envió.
        </br></br>

        Ejemplo: Si la dotación del primer miembro de la pareja es de 10,00 soles y este manda 5,00 soles al otro,
        pero este último tiene una dotación inicial de 12,00 soles y manda 6,00 soles, entonces los pagos de la ronda serían:</br>
        Pago de la ronda para el primer jugador: 10,00-5,00+6,00 = 11,00. </br>
        Pago de la ronda para el segundo jugador: 12,00-6,00+5,00 = 11,00. </br>

    </p>

    <p>
        Las instrucciones permanecerán en pantalla en caso desees consultarlas durante la interacción.
    </p>
