{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}


{% block title %}

    <p style="color:lightgrey"> Ronda {{ group.round_number }} - Bloque PEMG</p>
    Tu rol y tu decisión

{% endblock %}

{% block content %}

    <p>

            Tú tienes rol <strong>{{ player.role }}</strong>, y debes proponer la repartición de los {{ player.endowment }}.

    </p>

{% if player.role == 'A' %}
    </p>

            ¿Qué monto, de los {{ player.endowment }}, deseas ofrecer al participante de rol B ?

    </p>
{% else %}
    </p>

            ¿Qué monto, de los {{ player.endowment }}, deseas ofrecer al participante de rol A ?

    </p>
 {% endif %}

    </br>
    {% formfield player.sent_amount with label="Ingrese el monto aquí:" %}

    </br></br>
    {% next_button %}


    </br></br></br></br></br></br>
    {% include Constants.instructions_template %}

{% endblock %}
