{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}



{% block title %}

    <p style="color:lightgrey"> Ronda {{ group.round_number }} - Bloque PEMG</p>
    Ofertas

{% endblock %}

{% block content %}

    <p>

            Tú has recibido {{ player.endowment|c }} y debes proponer su repartición.
            ¿Qué monto de los {{ player.endowment|c }} deseas ofrecer al otro participante?

    </p>

     <input type="hidden" name="checkslider" value="" id="id_checkslider"/>


    {% formfield player.sent_amount with label="Ingrese el monto aquí:" %}
  {% block scripts %}
    <script>
      var selector = $('[data-slider] input[type="range"]');
      selector.change(function() {
        $('#id_checkslider').val(selector.val());
      });
    </script>
  {% endblock %}


    {% if player.id_in_group == 1 %}

        Lo que recibiría el otro jugador sería: {{ group.get_afterearn_B }}
        Lo que te quedaría sería: {{ group.get_afterearn_A }}

    {% else %}

        Lo que recibiría el otro jugador sería: {{ group.get_afterearn_A }}
        Lo que te quedaría sería: {{ group.get_afterearn_B }}

    {% endif %}


    {% next_button %}


    {% include Constants.instructions_template %}

{% endblock %}


