{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    <p style="color:lightgrey"> Ronda {{ group.round_number }} </p>
    Escenario a Decidir
{% endblock %}

{% block content %}

    <p>
    Tienes {{ player.endowment }}. Debes decidir en qué proyecto grupal desearás participar.
    </p>
    <p>
    -Si escoges el número 1, estarás en el escenario número 1
    </p>
    <p>
    -Si escoges el número 2, estarás en el escenario número 2
    </p>
    <p>
    -Si escoges el número 3, estarás en el escenario número 3
    </p>
    <p>
    Si deseas recordar qué implica estar en alguno de los escenarios, puedes consultar las instrucciones
    que se encuentran en el pie de esta página
    </p>
    </br></br>

    {% formfield player.roller with label="Deslice hasta seleccionar el número del escenario deseado" %}

    </br>
    {% next_button %}

    </br></br></br></br>
    {% include Constants.instructions_template %}

{% endblock %}