{% load otree_tags staticfiles %}

<div class="instructions well well-lg"></div>

    <h3 class="panel-sub-heading">
        Instrucciones <font color="green">  </font>
    </h3>
    <p>
        En este experimento, vas a participar en {{ Constants.num_rounds }} rondas de la misma interacción.
        Al inicio de cada ronda, cada participante del grupo recibirá aleatoriamente un monto entre 1 y 15 soles.
        Luego, cada participante deberá decidir cuánto conservar para sí mismo y cuánto contribuir a un proyecto grupal.
        La <strong> contribución </strong> al proyecto grupal puede ser cualquier monto entero desde el monto mínimo
        requerido por cada escenario hasta el valor total de tu dotación.
    </p>

    <p>
        Los proyectos en los que se puede participar son los siguientes:
    </p>
    <p>
        -<strong>Escenario 1:</strong> Tendrás un <strong>100%</strong> de probabilidad de recibir una retribución por participar. Dicha
        contribución será <strong>1.5 veces la media de las contribuciones realizadas</strong> por las personas que también escogieron ser parte de
        este escenario, incluyendo la que realizaste. Para participar aquí, <strong>no se necesita</strong> una contribución mínima.
    </p>
    <p>
        -<strong>Escenario 2:</strong> Tendrás un 75% de probabilidad de recibir una retribución por participar. Dicha
        retribución será <strong>2 veces la media de las contribuciones realizadas</strong> por las personas que también escogieron
        ser parte de este escenario, incluyendo la que realizaste. Para participar aquí, <strong>se necesita</strong> una
        contribución mínima de <strong>3 soles</strong>.
    </p>
    <p>
        -<strong>Escenario 3:</strong> Tendrás un 50% de probabilidad de recibir una retribución por participar. Dicha
        retribución será <strong>2.5 veces la media de las contribuciones realizadas</strong> por las personas que también escogieron
        ser parte de este escenario, incluyendo la que realizaste. Para participar aquí, <strong>se necesita</strong> una contribución mínima
        de <strong>6 soles</strong>.

    </p>

    <p>
        <strong>NOTA: </strong> Se aproximaran las retribuciones al entero más cercano si las cifras decimales son mayores o iguales a 0.5
        Por ejemplo, si las retribuciones promedio son 10.5 0 10.6, se considerará que su valor es 11. Si fuera 10.4, se considerará un
        valor igual a 10.
    </p>

    <h4 class="panel-sub-heading">
        Ejemplo:
    </h4>

        <p>
        Supón que la dotación que recibiste en la primera ronda es de 10 soles.
        </p>
        <p>
        -Si escogieras ser parte del <strong>Escenario 1</strong>, decidieras aportar 6 unidades
        y la media de las contribuciones fuera 6 (incluyendo tu aporte en el cálculo) recibirías:
        10 - 6 + 1.5*6 = 13.
        </p>
        <p>
        -Si escogieras ser parte del <strong>Escenario 2</strong>, decidieras aportar 6 unidades
        y la media de las contribuciones fuera 6 (incluyendo tu aporte en el cálculo) recibirías:
        10 - 6 + 2*6 = 16 con 75% de probabilidad o 10 - 6 = 4 con 25% de probabilidad.
        </p>
        <p>
        -Si escogieras ser parte del <strong>Escenario 3</strong>, decidieras aportar 6 unidades
        y la media de las contribuciones fuera 6 (incluyendo tu aporte en el cálculo) recibirías:
        10 - 6 + 2.5*6 = 19 con 50% de probabilidad o 10 - 6 = 4 con 50% de probabilidad.
        </p>
