{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}


{% block title %}

    <p style="color:lightgrey"> Ronda {{ group.round_number }}</p>
    Transferencias

{% endblock %}

{% block content %}


    {% if player.id_in_group == 1 %}
        <p>
        Tú has recibido {{ group.get_endowment_A }} y el otro jugador {{ group.get_endowment_B }}.
        </p>

    {% else %}
        <p>
        Tú has recibido {{ group.get_endowment_B }} y el otro jugador {{ group.get_endowment_A }}.
        </p>
    {% endif %}
    <p>
     ¿Cuánto deseas mandar al otro jugador?
    {% formfield player.sent_amount with label="Ingrese el monto aquí:" %}
    </p>


    {% next_button %}


    </br></br></br></br></br></br>
    {% include Constants.instructions_template %}

{% endblock %}
