{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Segunda encuesta
{% endblock %}

{% block content %}

<p> <FONT SIZE=4> En esta segunda ronda; ¿Cuánto crees que fue la ganancia promedio de los demás participantes?
{% formfield player.Pago_en_soles %} </FONT>
</p>

<p> <FONT SIZE=4> Durante los lanzamientos de la segunda ronda, ¿Cuál crees que fue el número o los números más reportados por los demás participantes?</FONT> </p>

{% formfield player.Seleccione_una_entre_las_siguientes_opciones label="" %}

<p> <FONT SIZE=4> Para finalizar responda las siguientes preguntas: </FONT> </p>

<table class="table">
        <tr>
		    <th> {% formfield player.Que_tan_religioso_te_consideras label="¿Que tan religioso te consideras?" %} </th>
	    </tr>
</table>

<p>

</p>

<table class="table">
        <tr>
		    <th> {% formfield player.Que_tanto_crees_en_dios label="¿Que tanto crees en Dios?" %} </th>
	    </tr>
</table>

<p>

</p>

<table class="table">
        <tr>
		    <th> {% formfield player.Hasta_que_punto_crees_en_un_dios_que_castiga label="¿Hasta que punto crees en un Dios que castiga?" %} </th>
	    </tr>
</table>


<p> <FONT SIZE=4> Muchas Gracias por su participación. Sirvase acercarse a la ubicación de los investigadores para recibir el pago correspondiente. </FONT> </p>


    {% next_button %}
{% endblock %}