{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Instrucciones pagos (2 / 2)
{% endblock %}

{% block content %}

<p align="justify">
Finalmente, los demás participantes han recibido las mismas instrucciones que usted y también se les ha pedido que lancen el dado doce veces. Para todos, un resultado al azar será seleccionado para ser pagado en efectivo. El pago de ambas rondas se realizara al final del experimento.
</p>
<p align="justify">
Una vez hayan terminado de leer las instrucciones; si no tienen preguntas; presionen el botón de continuar. Si tienen preguntas levanten la mano. Nosotros nos acercaremos a su ubicación y responderemos sus preguntas. El experimento comenzará cuando todos hayan presionado siguiente.
</p>


    {% next_button %}
{% endblock %}