{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Instrucciones pagos (1 / 2)
{% endblock %}

{% block content %}

<p align="justify">
Sus pagos en soles se calculan como muestra la tabla a continuación.</p>


<style>
    tr {text-align: center;}
    tr:nth-child(even){background-color: #f2f2f2;}
    tr:hover {background-color: #ddd;}
</style>

<table border="1" width="100%">
<tr>
  <th scope="row"><strong>Numero obtenido en el dado</strong></th>
  <td>6</td>
  <td>1</td>
  <td>2</td>
  <td>3</td>
  <td>4</td>
  <td>5</td>

</tr>

<tr>
  <td><strong>Pago en soles</strong></td>
  <td>S/. 0.00</td>
  <td>S/. 1.00</td>
  <td>S/. 2.00</td>
  <td>S/. 3.00</td>
  <td>S/. 4.00</td>
  <td>S/. 5.00</td>
</tr>
</table>

<p align="justify">
</p>


<p align="justify">
Note que obtener 6 en el dado no tiene pago.
Además, el pago promedio para una gran cantidad de tiradas del dado es 2.5 soles
{(0+1+2+3+4+5)/6 = 2.5 soles.}</p>

<p align="justify">
<ul>
  <li> Uno de los lanzamientos que registren será seleccionado de manera aleatoria
y se le pagará el monto correspondiente a ese lanzamiento. Los otros once lanzamientos no serán pagados.</li>
  <li>Se pagará un lanzamiento por ronda.  Cada ronda cuenta con 12 lanzamientos.</li>
  <li>Una vez han terminado los doce lanzamientos pueden seguir lanzando el dado
para verificar que funcione correctamente.</li>
</ul>





</p>


    {% next_button %}
{% endblock %}