{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
Lanzamientos del dado
{% endblock %}


{% block content %}
<p align="justify"> <FONT SIZE=4> A partir de aqui lo que marques sera relevante para
el pago que recibas. Uno de tus lanzamientos sera escogido al azar y sera pagado.
Por favor lanza doce veces el dado y llena tus resultados en la siguiente tabla.
Una vez hallas terminado presione continuar. </FONT> </p>

<p align="justify">
    
</p>

<style>
    tr {text-align: center;}
    tr:nth-child(even){background-color: #f2f2f2;}
    tr:hover {background-color: #ddd;}
    th {background-color: #2C4FA4;  color: white;  text-align: center;}
</style>

<table class="table" border="10">
        <tr>
		    <th> Numero del dado </th>
            <th><FONT SIZE=5> 6 </FONT></th>
            <th><FONT SIZE=5> 1 </FONT></th>
            <th><FONT SIZE=5> 2 </FONT></th>
            <th><FONT SIZE=5> 3 </FONT></th>
            <th><FONT SIZE=5> 4 </FONT></th>
            <th><FONT SIZE=5> 5 </FONT></th>
	    </tr>
        <tr>
		    <th> Pago </th> <th>S/. 0.00 </th> <th>S/. 1.00 </th> <th>S/. 2.00</th> <th>S/. 3.00 </th> <th>S/. 4.00</th> <th>S/. 5.00</th>
	    </tr>
    {% for field in form %}
            <th>{{ field.label }}</th>
            {% for choice in field %}
                <td>{{ choice }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
    {% next_button %}

{% endblock %}